
DataStructure_Study/\.vs/DataStructure_Study/v16/Browse\.VC\.db

DataStructure_Study/\.vs/DataStructure_Study/v16/Browse\.VC\.opendb

DataStructure_Study/\.vs/DataStructure_Study/v16/\.suo

*.filters

*.vcxproj

DataStructure_Study/\.vs/DataStructure_Study/v16/ipch/AutoPCH/1d66e87951ba3824/CIRCULARLINKEDLIST\.ipch
